{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Greetings</title>
  <link rel="stylesheet" href="{% static 'predictor/styles.css' %}">
</head>
<body>
  <div class="container">
    <h1>Hello, <!-- Retrieve username from previous page using PHP or JavaScript -->!!</h1>
    <p>We hope this finds you in good health.</p>
    <button class="next-button"><a href="page5.html">Next</a></button>
  </div>
</body>
</html>
